<h1>{{ title }}</h1> <!--Employee table-->
<table>
    <tr> <!--Employee table 속성,tr은 행, td는 열-->
        <td>Fname</td> 
        <td>Minit</td>
        <td>Fname</td>
        <td>Ssn</td>
        <td>Bdate</td>
        <td>Address</td>
        <td>Sex</td>
        <td>Salary</td>
        <td>Super_ssn</td>
        <td>Dno</td>        
    </tr>
    {{#each employee}} <!--each를 이용,Employee table 값-->
    <tr>
        <td>{{Fname}}</td>
        <td>{{Minit}}</td>
        <td>{{Fname}}</td>
        <td>{{Ssn}}</td>
        <td>{{Bdate}}</td>
        <td>{{Address}}</td>
        <td>{{Sex}}</td>
        <td>{{Salary}}</td>
        <td>{{Super_ssn}}</td>
        <td>{{Dno}}</td>       
    </tr>
    {{/each}}
</table>

<h1>{{ title2 }} </h1> <!--Employee table-->
<table>
    <tr> <!--Department table 속성-->
        <td>Dname</td>
        <td>Dnumber</td>
        <td>Mgr_ssn</td>
        <td>Mgr_start_date</td>
    </tr>
    {{#each department}} <!--each를 이용, Department table 값-->
    <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
        <td>{{Mgr_ssn}}</td>
        <td>{{Mgr_start_date}}</td>   
    </tr>
    {{/each}}
</table>