<!-- department table 출력 -->
<h1>{{ title }}</h1>
<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>
  </tr>
  {{#each department}}
    <form method="post">
      <tr>
        <td>{{Dname}}</td>
        <td>{{Dnumber}}</td>
        <td style="border: none; margin-left: 10px;">
          <!-- button name delBtn -->
          <button
            style="margin-left: 10px;"
            name='delBtn'
            type="submit"
            value="{{Dnumber}}"
            formaction="/delete"
          >
          삭제
          </button>
        </td>
      </tr>
    </form>
  {{/each}}
</table>
<h1></h1>
<!-- student table 출력 -->
<table>
  <tr>
    <td>Ssn</td>
    <td>Sex</td>
    <td>Address</td>
  </tr>
  {{#each student}}
    <form method="post">
      <tr>
        <td>{{Ssn}}</td>
        <td>{{Sex}}</td>
        <td>{{Address}}</td>
        <td style="border: none; margin-left: 10px;">
          <!-- button name delBtn1  -->
          <button
            style="margin-left: 10px;"
            name='delBtn1'
            type="submit"
            value="{{Ssn}}"
            formaction="/delete"
          >
          삭제
          </button>
        </td>
      </tr>
    </form>
  {{/each}}
</table>