<!-- department table 출력 -->
<h1>{{ title }}</h1>
<table>
  <tr>
    <td>Dname</td>
    <td>Dnumber</td>
  </tr>
  {{#each department}}
  <tr>
    <td>{{Dname}}</td>
    <td>{{Dnumber}}</td>
  </tr>
  {{/each}}
</table>
<!-- student table 출력 -->
<h1>{{ title1 }}</h1>
<table>
  <tr>
    <td>Ssn</td>
    <td>Sex</td>
    <td>Address</td>
  </tr>
  {{#each student}}
  <tr>
    <td>{{Ssn}}</td>
    <td>{{Sex}}</td>
    <td>{{Address}}</td>
  </tr>
  {{/each}}
</table>

